.container .content{
    position: relative;
    border: #3E4357 solid 3px;
    border-radius: 10px;
    width: 18.7vw;
    height:56vh;
    display: flex;
    overflow: hidden;
    margin-top: 1.5rem;
}

.container img{
    width: 19vw;
    height: 56vh;
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.9s;
}

.container img:hover{
   transform: scale(1.1);
}