<div class="container">
    <app-card photo="assets/bt-1.jpg" label_pricing="Play It Now!"
              pricing="270.00" type_game="DIGITAL PS4"
              label_tag="Exclusive">
    </app-card>

    <app-card photo="assets/bt-5.jpg" label_pricing="Play It Now!"
              pricing="230.00" type_game="DIGITAL PS5"
              label_tag="New">
    </app-card>

    <app-card photo="assets/bt-4.jpg" label_pricing="Play It Now!"
              pricing="199.00" type_game="DISC PS4"
              label_tag="On Sale">
    </app-card>

    <app-card photo="assets/bt-bad-company-2.jpg" label_pricing="Play It Now!"
              pricing="290.00" type_game="DISC PS3"
              label_tag="Exclusive">
    </app-card>

    <app-card photo="assets/bt-hardline.jpg" label_pricing="Play It Now!"
    pricing="255.00" type_game="DIGITAL PS5"
    label_tag="Best seller">
    </app-card>


    <app-card photo="assets/ac-cover.jpg" label_pricing="Play It Now!"
    pricing="200.00" type_game="DISC PS4"
    label_tag="On Sale">
    </app-card>


</div>